doctype html
html(class="no-js", lang="en")
    head
        block includes
        include meta
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        link(rel="stylesheet" href="#{css}style.css")
        script(src="#{js}lib/jquery-1.10.2.min.js")
        script(src="#{js}lib/bootstrap.min.js")
        script(src="#{js}lib/bootstrap-select.min.js")
        script(src="#{js}lib/jquery.backstretch.min.js")
        script(src="#{js}lib/jquery.ezmark.min.js")
        script(src="#{js}lib/jquery.sliderPro.min.js")
        script(src="#{js}lib/jquery.fancybox.pack.js")
        script(src="#{js}lib/owl.carousel.min.js")
        script(src="#{js}main.js")
        //script(src="//localhost:35729/livereload.js")
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        script(src="#{js}lib/html5shiv.min.js")
        script(src="#{js}lib/respond.min.js")
        <![endif]-->
        title Верстка
    body
        script $.backstretch("#{img}bg1440.jpg");
        .site
            .main
                block header
                
                div.page-content.container
                    block content
            
        footer.page-footer
            block footer

        block layers
        block library
        block init
